<!-- Why Us -->
<section class="text-textoAcento body-font mt-10">
  <div>
    <div
      class="flex justify-center text-3xl font-bold text-titulos text-center flex-col"
    >
      Nuestros Servicios
    </div>
  </div>

  <div class="container px-5 py-12 mx-auto">
    <div class="flex flex-wrap text-center justify-center">
      <!-- Tarjeta 1 -->
      <div class="p-4 md:w-1/4 sm:w-1/2">
        <div
          class="px-4 py-6 transform transition duration-500 hover:scale-110 bg-bgBlanco rounded-lg shadow-md"
        >
          <div class="flex justify-center">
            <img
              src="https://image3.jdomni.in/banner/13062021/58/97/7C/E53960D1295621EFCB5B13F335_1623567851299.png?output-format=webp"
              class="w-32 mb-3"
              alt="Productos 100% Naturales"
            />
          </div>
          <h2 class="title-font font-regular text-2xl text-titulos">
            Productos 100% Naturales
          </h2>
          <p class="mt-2 text-sm text-textoAcento">
            Ofrecemos una variedad de productos derivados de la miel, como miel
            pura, polen, y propóleo, todos obtenidos de manera ética y
            sostenible.
          </p>
        </div>
      </div>
      <!-- Tarjeta 2 -->
      <div class="p-4 md:w-1/4 sm:w-1/2">
        <div
          class="px-4 py-6 transform transition duration-500 hover:scale-110 bg-bgBlanco rounded-lg shadow-md"
        >
          <div class="flex justify-center">
            <img
              src="https://image2.jdomni.in/banner/13062021/3E/57/E8/1D6E23DD7E12571705CAC761E7_1623567977295.png?output-format=webp"
              class="w-32 mb-3"
              alt="Precios Accesibles"
            />
          </div>
          <h2 class="title-font font-regular text-2xl text-titulos">
            Precios Accesibles
          </h2>
          <p class="mt-2 text-sm text-textoAcento">
            Nuestros productos están disponibles a precios competitivos, sin
            comprometer la calidad, para que todos puedan disfrutar de los
            beneficios de la miel.
          </p>
        </div>
      </div>
      <!-- Tarjeta 3 -->
      <div class="p-4 md:w-1/4 sm:w-1/2">
        <div
          class="px-4 py-6 transform transition duration-500 hover:scale-110 bg-bgBlanco rounded-lg shadow-md"
        >
          <div class="flex justify-center">
            <img
              src="https://image3.jdomni.in/banner/13062021/16/7E/7E/5A9920439E52EF309F27B43EEB_1623568010437.png?output-format=webp"
              class="w-32 mb-3"
              alt="Entrega Rápida"
            />
          </div>
          <h2 class="title-font font-regular text-2xl text-titulos">
            Entrega Rápida y Segura
          </h2>
          <p class="mt-2 text-sm text-textoAcento">
            Aseguramos que recibas tus productos a tiempo y en perfecto estado,
            porque tu satisfacción es nuestra prioridad.
          </p>
        </div>
      </div>
      <!-- Tarjeta 4 -->
      <div class="p-4 md:w-1/4 sm:w-1/2">
        <div
          class="px-4 py-6 transform transition duration-500 hover:scale-110 bg-bgBlanco rounded-lg shadow-md"
        >
          <div class="flex justify-center">
            <img
              src="https://image3.jdomni.in/banner/13062021/EB/99/EE/8B46027500E987A5142ECC1CE1_1623567959360.png?output-format=webp"
              class="w-32 mb-3"
              alt="Compromiso con el Medio Ambiente"
            />
          </div>
          <h2 class="title-font font-regular text-2xl text-titulos">
            Compromiso Ambiental
          </h2>
          <p class="mt-2 text-sm text-textoAcento">
            En Happy Bees, promovemos la apicultura sostenible y la protección
            del medio ambiente para asegurar un futuro mejor para las abejas y
            el planeta.
          </p>
        </div>
      </div>
      <a
        href="/"
        class="justify-center mt-4 inline-flex items-center px-6 py-3 font-semibold text-textoClaro bg-bgPrincipal rounded-full hover:bg-hoverBoton focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-bgPrincipal transition duration-300"
      >
        <!-- Icono de inicio -->
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 mr-2 text-textoClaro"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path d="M10 20V14H14V20H19V12H16L10 6L4 12H1V20H6V14H10V20Z"></path>
        </svg>
        Inicio
      </a>
    </div>
  </div>
</section>
