<div class="text-center p-10 flex flex-col items-center">
  <h1 class="font-bold text-4xl mb-4 text-titulos">Nuestros Productos</h1>
  <a
    href="/"
    class="mt-4 inline-flex items-center px-6 py-3 font-semibold text-textoClaro bg-bgPrincipal rounded-full hover:bg-hoverBoton focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-bgPrincipal transition duration-300"
  >
    <!-- Icono de inicio -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5 mr-2 text-textoClaro"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path d="M10 20V14H14V20H19V12H16L10 6L4 12H1V20H6V14H10V20Z"></path>
    </svg>
    Inicio
  </a>
</div>

<section
  id="Products"
  class="w-fit mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 justify-items-center gap-y-20 gap-x-14 mt-10 mb-5"
>
  <!-- Tarjeta de Producto 1 -->
  <div
    class="w-72 bg-bgBlanco shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
  >
    <a href="#">
      <img
        src="https://www.chapintv.com/wp-content/uploads/2020/10/remedios-naturales-26.jpg"
        alt="Miel Pura"
        class="h-80 w-72 object-cover rounded-t-xl"
      />
      <div class="px-4 py-3 w-72">
        <span class="text-textoAcento mr-3 uppercase text-xs">Happy Bees</span>
        <p class="text-lg font-bold text-titulos truncate block capitalize">
          Miel Pura
        </p>
        <div class="flex items-center">
          <p class="text-lg font-semibold text-titulos cursor-auto my-3">$15</p>
          <del>
            <p class="text-sm text-textoAcento cursor-auto ml-2">$20</p>
          </del>
          <div class="ml-auto">
            <!-- Icono de bolsa -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-bag-plus"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"
              ></path>
              <path
                d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </a>
  </div>
  <!-- Fin de Tarjeta de Producto 1 -->

  <!-- Tarjeta de Producto 2 -->
  <div
    class="w-72 bg-bgBlanco shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
  >
    <a href="#">
      <img
        src="https://th.bing.com/th/id/OIP.A0Bb1qA_iCLK48JU2NtZ-QHaE6?rs=1&pid=ImgDetMain"
        alt="Polen de Abeja"
        class="h-80 w-72 object-cover rounded-t-xl"
      />
      <div class="px-4 py-3 w-72">
        <span class="text-textoAcento mr-3 uppercase text-xs">Happy Bees</span>
        <p class="text-lg font-bold text-titulos truncate block capitalize">
          Polen de Abeja
        </p>
        <div class="flex items-center">
          <p class="text-lg font-semibold text-titulos cursor-auto my-3">$10</p>
          <del>
            <p class="text-sm text-textoAcento cursor-auto ml-2">$12</p>
          </del>
          <div class="ml-auto">
            <!-- Icono de bolsa -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-bag-plus"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"
              ></path>
              <path
                d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </a>
  </div>
  <!-- Fin de Tarjeta de Producto 2 -->

  <!-- Tarjeta de Producto 3 -->
  <div
    class="w-72 bg-bgBlanco shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
  >
    <a href="#">
      <img
        src="https://ecocosas.com/wp-content/uploads/2019/02/jalea-real.jpg"
        alt="Jalea Real"
        class="h-80 w-72 object-cover rounded-t-xl"
      />
      <div class="px-4 py-3 w-72">
        <span class="text-textoAcento mr-3 uppercase text-xs">Happy Bees</span>
        <p class="text-lg font-bold text-titulos truncate block capitalize">
          Jalea Real
        </p>
        <div class="flex items-center">
          <p class="text-lg font-semibold text-titulos cursor-auto my-3">$18</p>
          <del>
            <p class="text-sm text-textoAcento cursor-auto ml-2">$22</p>
          </del>
          <div class="ml-auto">
            <!-- Icono de bolsa -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-bag-plus"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"
              ></path>
              <path
                fill-rule="evenodd"
                d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"
              ></path>
              <path
                d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </a>
  </div>
  <!-- Fin de Tarjeta de Producto 3 -->
</section>
